@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');

body {
    background-color: #323232;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(rgba(#7600bf, 0.5) 0%, transparent 70%), linear-gradient(#0b161e 40%, #202076 70%);
    perspective: 700px;
    font-size: clamp(10px, 2vw, 20px);
}

div.section {
    width: 60%;
    left: 20%;
    right: 20%;
    background-color: aquamarine;
    text-align: center;
    margin: 0 auto;
}

#title-section {
    height: 5em;
}

#background, #shows {
    margin-top: .5em;
    margin-bottom: .5em;
}

#header-img {
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    left: 30%;
    right: 30%;
    height: 25em;
}
#search-input {
    width: 100%;
    height: 3em;
    padding: 0;
}

::placeholder {
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
    color: black;
    letter-spacing: 0.1em;
    padding: .5em;
    text-shadow: -1px -1px 0 rgb(247, 241, 241), 1px -1px 0 rgb(247, 241, 241),
        -1px 1px 0 rgb(247, 241, 241), 1px 1px 0 rgb(247, 241, 241);
}


.list-items {
    list-style: none;
}
  
#title {
    font: bolder;
    padding: .5em;
    font-size: 2.5em;
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 rgb(247, 241, 241), 1px -1px 0 rgb(247, 241, 241),
        -1px 1px 0 rgb(247, 241, 241), 1px 1px 0 rgb(247, 241, 241);
}
  
img {
    height: 100px;
    width: 100px;
}
  
.show-card {
    border: solid;
    width: 60%;
    left: 20%;
    right: 20%;
    border-color: #fe05e1;
    background-color: #ffffff;
    margin: 0.5em;
    padding: .5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    height: auto;
}

.show-card h1 {
    font-size: 2em;
    font-weight: bolder;
}

.show-card:hover {
box-shadow: 0 8px 16px 0 rgba(218, 31, 31, 0.685);
}

#shows-container {
display: flex;
justify-content: center;
flex-wrap: wrap;
}

input[type="text"]:not(.edit-input) {
border: 0;
box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
margin: 8px 0;
display: block;
font-size: 1.5em;
font-weight: bolder;
text-align: center;
color: black;
letter-spacing: 0.1em;
padding: .5em;
text-shadow: -1px -1px 0 rgb(247, 241, 241), 1px -1px 0 rgb(247, 241, 241),
    -1px 1px 0 rgb(247, 241, 241), 1px 1px 0 rgb(247, 241, 241);
}

input[type="submit"] {
background-color: #04aa6d;
color: white;
margin: 8px 0;
margin-left: 15px;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type="submit"]:hover {
background-color: #ffcb05;
}

label {
color: rgb(83, 79, 79);
}

#show-form-container {
margin-top: 25px;
display: flex;
justify-content: center;
}

.like-bttn {
color: red;
font-size: larger;
margin-right: 10px;
margin-left: 10px;
margin-bottom: 5px;
}

.like-bttn:hover {
color: white;
background-color: red;
}

.delete-bttn {
color: red;
font-size: large;
}

.delete-bttn:hover {
background-color: pink;
}

div#title-section h2 {
    font-size: 5.5em;
}

#title-section h2, #show-header {
  font-family: 'Mr Dafoe';
  margin: 0;
  font-size: 3.5em;
  color: white;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
}
footer#branding {
    color: black;
    width: 60%;
    left: 30%;
    right: 30%;
}

footer small {
    color: white;
}

.card.alert-warning {
    padding: 20px; 
    margin: 20px;
}

#message-banner {
    width: 60%;
    left: 20%;
    right: 20%;
    text-align: center;
}

.alert {
    background-color: tomato;
}
.warning {
    background-color: yellow;
}
.success {
    background-color: yellowgreen;
}

.hide {
    display: none;
}