
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Smooch&family=Tiro+Telugu&display=swap');
* {
    box-sizing: border-box;
}
 
/*header section */
.header {
    background-color: rgb(50, 54, 50);
    color: rgb(167, 216, 154);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    padding: 15px;
    text-align: center;
}
 
/*navigation menu */
.nav_menu {
    overflow: hidden;
    background-color:cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav_menu a {
    float:inline-start;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav_menu a:hover {
    background-color: white;
    color: green;
}
 

 /* Gallery grid */
 .grid-container {
    display: grid;
    grid-template-columns:auto auto auto;
    background-color: rgb(34, 33, 33);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding: 5px;
}
  
/* Gallery Design */
.grid-item {
    background-color: rgba(168, 164, 164, 0.8);
    border: 1px solid black;
    padding: 50px;
    font-size: 50px;
    text-align: center;
}
/* Style for footer section */
.footer {
    background-color:cadetblue;
    color: rgb(223, 235, 233);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    padding: 5px;
    text-align: center;
    
}