
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

* {
    box-sizing: content-box;
}

body {
    background-image: url("https://res.litfad.com/site/img/item/2020/12/29/1969432/1200x1200.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-flex;
    font-family: 'Smooch', cursive;
    text-shadow: #feab51;
    margin: 150;
    min-height: 5vh;
}

aside {
    background-color: rgb(51, 58, 55);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    width: 300px;
    height: 100vh;
}

aside ul {
    padding: 2;
    list-style-type: disc;
}

aside a {
    color: rgb(67, 201, 123);
    display: inline-block;
    font-size: 2rem;
    text-decoration: none;
    margin: 0.5rem;
}

.special {
    background-color: #62e0a5;
    color: rgb(156, 99, 99);
    display: block;
    padding: 1rem;
    text-align: center;
}

main {
    color: rgb(75, 139, 95);
    font-size: 2.0rem;
    padding: 3rem;
}

main h1 {
    margin: 0;
    text-decoration-color: black;
    text-shadow: #feab51;
}

main h3 {
    color: #feab51;
    margin: 0;
}

@media screen and (max-width: 800px) {
    body {
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    main {
        min-height: 60vh;
    }

    aside {
        height: auto;
        width: 100%;
    }

    aside ul {
        display: flex;
        flex-wrap: wrap;
    }

    .special {
        display: none;
    }
}